.ba {
  border: solid black;
  border-radius: 10px;
  background-color: rgba(154, 217, 242, 0.636);
}
.outer {
  width: fit-content;
  height: fit-content;
}

.download-assess {
  border: solid black;
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.89);
}
.how-to-use {
  color: rgba(0, 0, 0, 0.44);
  border: solid rgba(0, 0, 0, 0.535);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.info {
  border: solid rgba(0, 0, 0, 0.535);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.89);

}
.points {
    width: fit-content;
    height: fit-content;
}
.form-content{
  width: 600px;
  max-height: 120px;
}