.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 10px;
  font-size: 40px;
  background: #03387d;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}

.back-to-top:hover {
  background: #FE6847;
}