.bg-dark {
  background-color: #0c4896 !important;
}
.nav-link {
  color: white;
}
.nav-link:focus, .nav-link:hover {
  color: white;
  transition: 0.2s;
  text-shadow: 6px 6px 8px #021c3d;
}
.sideContent {
  top: 50px;
  bottom: 50px;
}
.sidebarToggleBtn{
  background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.mini-side{
  width: 70px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #0c4896;
}
