.question-box{
    cursor: pointer;
    background-color: #7db6e7;
    margin-left: 0.2px;
    margin-right: 0.2px;
}
.titleFAQ {
    color: white;
    text-shadow: 4px 4px 6px #03387d;
}
.q-outer-box{
    background-image:  url(https://img.freepik.com/free-vector/abstract-watercolor-pastel-background_87374-139.jpg?w=2000);;
    background-position: center center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0 10px #03387d;
    z-index: 100;
}
.questions-header{
    margin-left: 1.2%;
    margin-bottom: 2%;
    font-size: 45px;
    color: white;
    text-shadow: 4px 4px 6px #03387d;
}
.question-button{
    border-radius: 10px;
    min-width: 100%;
    padding: 2.5%;
    background-color: #7db6e7;
    color: white;
    margin-top: 3%;
    box-shadow:  4px 4px 6px #03387d;
}

.innerFAQ {
    background-color: rgba(229, 234, 235, 0.536);
    margin-left: -12px;
    margin-right: -12px;
}