
.team-details-box{
    width: 80%;
    padding: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #c6dcf9;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
    font-family: 'Copperplate';
    color: #03387d;
}

.team-details-specs{
    border: #03387d9d 3px solid;
    background-color: #03387d9d;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 2%;
    color: rgb(252, 239, 239);
}

.team-details-title{
    color: #03387d;
    font-size: 50px;
    font-family: 'Copperplate';
    border: double #03387d;
    border-left: 0px;
    border-right: 0px;
}

.update-btn{
    width: 20%;
    float: left;
}

.update-btn{
background-color: #03387daf;
color:rgb(252, 239, 239) ;
outline: none;
}

.addStudents .dropdown-menu.show{
    width: 80%;
    background-color: #9bc3f1; 
    position:relative !important;
    inset: -5px auto auto 0px !important; 
    transform: translate3d(0px,0px,0px) !important;
}

.addStudents{
    position: relative;
}

.addStudents .dropdown-item{
    color: #03387d;
}