.teams-student-name{
    font-size: 20px;
}

.student-add-btn{
    float: right;
    margin-right: 15%;
    border-radius: 3px;
    background-color: #0c4999;
    border: none;
}

.create-a-team-btn{
    cursor: pointer;
}