.judgeSystem {
  border: rgba(0, 0, 0, 0.507) solid;
  box-shadow: 10px 10px 10px  rgba(0,0,0,.15);
}
.info {
  border: solid black;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
}

.task-back {
  position: absolute;
}

.task-back::before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 130px;
  color: rgba(128, 128, 128, 0.654);
  text-align: right;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 35px;
  top: 2px;
}

.task-back:hover:before {
  opacity: 1;
  visibility: visible;
}