/* /* .workshops-student-name{
    font-size: 20px;
} */

.team-add-btn{
    float: right;
    margin-right: 15%;
    border-radius: 3px;
    background-color: #0c4999;
    border: none;
}
.team-dropdown .dropdown-menu.show{
    width: 80%;
    background-color: #9bc3f1; 
    position:relative !important;
    inset: -5px auto auto 0px !important; 
    transform: translate3d(0px,0px,0px) !important;
}

.team-dropdown{
    position: relative;
}


.create-workshop-box{
    width: 80%;
    padding: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #c6dcf9;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
    font-family: 'Copperplate';
    color: #03387d;
}

.create-workshop-title{
    color: #03387d;
    font-size: 45px;
    font-family: 'Copperplate';
    border: double #03387d;
    border-left: 0px;
    border-right: 0px;
}

.add-workshop-title{
    margin-bottom: 3%;
}

          
.add-teams-section{
    margin-bottom: 3%;
}

.create-btn{
    background-color: #0548a0;
    color:rgb(252, 239, 239) ;
    outline:rgb(252, 239, 239);
}

.team-dropdown .dropdown-item{
    color: #03387d;
}

.workshop-title-form{
    width: 95%;
    background-color: #edf4fd;
    color: #03387d;
}

.workshop-level-select{
    margin-bottom: 3%;
    width: 38%;
    height: 20%;
    border-radius: 3px;
    background-color: #edf4fd;
    border: #03387d;
    color: #03387d;
}