
.our-facts {
  margin-top: 220px;
  margin-bottom: 150px;
}
.ourTitle {
  color: #03387d;
  font-size: 50px; 
  font-family:'Copperplate';
  margin-top: -100px;
  border: double black;
  border-left: 0px;
  border-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card-text{
  font-family: 'Copperplate';
}

.ourPhoto {
  width: 75%;
}
.ourPhoto3 {
  width: 79%;
}

/*Home Cards*/

.count-area-content {
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 25px 30px 35px 30px;
}

.percentage .count-digit:after {
  content: '%';
  margin-left: 3px;
}

.count-digit {
  margin: 5px 0px;
  color: #57B8FF;
  font-weight: 700;
  font-size: 36px;
}
.count-title {
  font-size: 18px;
  font-weight: 500;
  color: #57B8FF;
  letter-spacing: 0.5px;
}

.new-students {
  margin-top: 45px;
}

section.our-facts .video {
  text-align: center;
  margin-left: 70px;
  border-radius: 20px;
}