.headerStudent {
  background-color: #0c4896;
  height: 60px;
 }
 .notColo.dropdown-menu.show {
  background-color: #0c4896;
}
.dropProfile {
margin-left: 900px
}
.profName {
  margin-top: 20px;
}
.logo {
  height: 50px;
}