.create-task-back {
    background: linear-gradient(0deg, rgba(226,242,255,1) 56%, rgba(168,226,255,1) 100%);
}

.create-task-box{
    box-shadow: 0px 0 10px #03387d;
    background-color: #7db6e7;
    border-radius: 10px;
    width: 85%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.createTaskLabel{
    font-size: 20px;
    /* text-transform: uppercase; */
    margin-top: 3%;
    font-family: 'Copperplate';
}

.create-task-first-col{
    background-color: #03387dc1;
    border-radius: 10px;
    margin: 5%;
    color: whitesmoke;
    padding: 2%;
    font-size: 20px;
}
.create-task-second-col{
    margin: 1%;
    margin-right: 2.5%;
    padding: 2%;
    color: #003c66;
}

.create-task-second-col .createTaskLabel{
    font-size: 25px;
    /* border: 2px double #003c66;
    border-left: none;
    border-right: none;
    margin-bottom: 2%; */
}
input[type=text] {
    width: calc(100% - 10px);
    padding: 5px;
    border-radius: 3px;
    vertical-align: middle;
    background-color: #eef6ff;
    color: #003c66;
    }
input:hover, textarea:hover, select:hover {
    outline: none;
    border: 1px solid #095484;
    background: #e6eef7;
    }

.submit-task{
    margin-top: 2%;
    background-color: #03387d;
    border: none;
};

.tags-input-container{
    border: 1px solid #03387d;
    padding: .5em;
    border-radius: 5px;
    width: 600px;
    margin-top: 1em;
};

.tag-item{
    background-color: #03387d !important;
    color: whitesmoke !important;
    padding: .5em .75 !important;
    border-radius: 20px !important;
}

.tag-item .close{
    font-size: 20px;
    cursor: pointer
}