
.innerProfile {
  box-shadow: 2px 2px 2px 2px rgba(84, 82, 82, 0.413)
}

.form-control:focus {
  box-shadow: none;
  border-color: #0c4896
}

.profile-button {
  background: #0c4896;
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #0c4896
}

.profile-button:focus {
  background: #0c4896;
  box-shadow: none
}

.profile-button:active {
  background: #0c4896;
  box-shadow: none
}

.back:hover {
  color: #0c4896;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #0c4896;
  color: #fff;
  cursor: pointer;
  border: solid 1px #0c4896
}