.popup-box {
    position: fixed;
    background: #002d4d8b;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
  .box {
    position: relative;
    width: 60%;
    margin: auto auto;
    height: auto;
    max-height: 100vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #e1e5ea;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }

  .box-header{
    background-color: #84b8dc;
    padding: 2%;
    border-radius: 7px;
  }
  
  .box-title{
    color: #003c66;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Playfair Display, serif';
  }

  .box-text{
    color: #003c66;
    font-family: 'Playfair Display, serif';
    /* border: 2px solid #003c66; */
  }
