
.card {
  background-color: white;
  font-family: Copperplate;
}
.top {
  background: rgb(226,242,255);
  background: linear-gradient(0deg, rgba(226,242,255,1) 56%, rgba(168,226,255,1) 100%);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-text{
  color:#002d4d;
}

.second {
  background-color: rgba(255,255,255, 0.5);;
}