.react-calendar { 
  width: auto;
  max-width: 100%;
  background-color: rgba(24, 78, 113, 0.54);
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
 }
 .react-calendar__navigation button {
  color: #84afe9;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
 }
 .react-calendar__navigation button:enabled:hover,
 .react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
 }
 .react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
 }
 abbr[title] {
  text-decoration: none;
 }
 .react-calendar__month-view__days__day--weekend {
  color: #ff8164 !important
 }
 .react-calendar__tile:enabled:hover,
 .react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #84afe9;
  border-radius: 6px;
 }
 .react-calendar__tile--now {
  background: #84b0e977;
  border-radius: 6px;
  font-weight: bold;
  color: #FE6847;
 }
 .react-calendar__tile--now:enabled:hover,
 .react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #FE6847;
 }
 .react-calendar__tile--hasActive:enabled:hover,
 .react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
 }
 .react-calendar__tile--active {
  background: #84afe9;
  border-radius: 6px;
  font-weight: bold;
  color: black !important;
 }
 .react-calendar__tile--active:enabled:hover,
 .react-calendar__tile--active:enabled:focus {
  background: #84afe9;
  color: white;
 }
 .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
 }
 .react-calendar__tile--range {
  background: #f8f8fa;
  color: #84afe9;
  border-radius: 0;
 }

 .bold {
   color: white;
   font-size: small;
 }

 .react-calendar__month-view__days__day{
   color:white
 }

 .react-calendar__month-view__weekdays__weekday{
   color:#84afe9
 }
