
  .modal-title{
    color: #003c66;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Copperplate';
    border: double #7db6e7;
    border-left: 0px;
    border-right: 0px;
  }

  .box-text{
    border: double #7db6e7;
    border-left: 0px;
    border-right: 0px;
    color:  #003c66;
    font-family: 'Playfair Display, serif';
  }

  .apply{
    background-color: #7db6e7;
  }

  .modal-content {
    background-color: #e1e5ea;
  }