
.icon-1x {
  font-size: 24px !important;
}
a{
  text-decoration:none;    
}
.text-primary, a.text-primary:focus, a.text-primary:hover {
  color: #00ADBB!important;
}
.text-black, .text-hover-black:hover {
  color: #000 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.row>* {
  flex-shrink: 0.5;
}

