.back {
background-image: url(https://webassets.telerikacademy.com/images/default-source/backgrounds/hp-hero-digitalbuilders-9.jpg?sfvrsn=e5ee2757_2);
background-position: center center;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
border:rgb(41, 125, 199);
border-style: double;
}

.carouselTitle {
  font-family: 'Copperplate';
  font-size: 50px;
  color: #03387d;
}

.buttonsCarousel{
  margin-top: 100px;
  width: 60px;
}