.forSec {
  cursor: pointer;
  font-size: 17px;
    background-color: #357ddb !important
}

.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 70px;
  color: rgba(128, 128, 128, 0.654);
  text-align: center;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}