body {
  background: none;
}
@media (max-width: 991px) {
  .navbar-scroll {
    background-color: #fff;
  }
     
  .navbar-scroll .navbar-brand,
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #4f4f4f !important;
  }         
}

.navbar-brand {
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: 500;
}
.navbar-scroll .navbar-brand,
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
  color: #fff;
}

.navbar-scroll {
  box-shadow: none;
}

.navbar-scrolled {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
  color: #4f4f4f;
}

.navbar-scrolled {
  background-color: #fff;
}
.bg-image {
  background-image: url('https://mdbootstrap.com/img/Photos/new-templates/craftsman/img(1).jpg');
  height: 100vh;
}
.mask {
  background-color: rgba(0, 0, 0, 0.2);
}
@media (max-width: 450px) {
  #intro {
    height: 950px !important;
  }
}

@media (min-width: 550px) and (max-width: 750px) {
  #intro {
    height: 1100px !important;
  }
}

@media (min-width: 800px) and (max-width: 990px) {
  #intro {
    height: 600px !important;
  }
}

.display-1 {
  font-weight: 500 !important;
  letter-spacing: 40px;
}

@media (min-width: 1600px) {
  .display-1 {
    font-size: 10rem;
  }
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #57B8FF;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow .15s ease-in-out;
}

.dropdown-menu.show{
  margin-top: 18px;
	background-color: #e1e5ea7d;
}

/*Light nav-bar*/
.custom {
  background-color: rgba(250,250,250,0.15);
  margin-top: -119px;
}
.custom .headerLabel {
  color: #FE6847;
}
.custom .navInfo  {
  color: rgba(0, 0, 0, 0.6);
}
.custom .navAboutUs {
  color: rgba(0, 0, 0, 0.6);
}

.custom .navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Copperplate';
  text-shadow: 4px 4px 6px #bfd4ef;
}
.custom .buttonsLR {
  color: rgba(0, 0, 0, 0.6);
}
.navProfile {
  color: #FE6847;
}

/*Dark nav-bar*/
.custom2 {
  background-color: #7db6e7;
  margin-top: -80px;
}
.custom2 .headerLabel {
  color: #fff;
  text-shadow: 4px 4px 6px #0c4896;
}
.custom2 .headerLabel:hover {
  transition: 0.2s;
  text-shadow: 4px 4px 6px #84afe9;;
}
.custom2 .navInfo{
  color: #fff;
  text-shadow: 4px 4px 6px #0c4896;
}
.custom2 .navInfo:hover{
  transition: 0.2s;
  text-shadow: 4px 4px 6px #84afe9;;
}
.custom2 .navAboutUs {
  color: #fff;
  text-shadow: 4px 4px 6px #0c4896;
}
.custom2 .navAboutUs:hover {
  transition: 0.2s;
  text-shadow: 4px 4px 6px #84afe9;;
}

.custon2 .buttonsLR {
  color: #fff;
}

/*Both*/
.headerLabel {
  margin-right: 35px;
  font-size: 37px;
  font-family: 'Monaco';
  cursor: pointer;
}
.navInfo {
  font-family: 'Copperplate';
  margin-left: 25px;
}
.navAboutUs {
  font-family: 'Copperplate';
  margin-left: 60px;
}


.navProfile.dropdown-menu.show {
    background-color: #dae0e7;
}
